.cartwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 96vw;
  padding: 1rem;
}

.totalprice {
  font-size: 1.5rem;
  margin: 20px;
}

.promocode {
  border: 2px solid black;
  border-radius: 18px;
  width: 10%;
}
